<h2>Create a Comment for This Post</h2>
<div class="postwithcare">
  <p>Comment with care.... comments cannot be removed! </p>
  <p>Once it's out there, it's out there!</p>
</div>

<%= form_for [@school, @post, @comment] do |f|%>

  <div class="container">
  <%=f.label :comment %><br>
  <%=f.text_area :text, size: "50x10" %>
  </div>

  <%= f.submit "Create"%>
<%end%>
