
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
   <div class="jumbotron">
     <div class="container">
       <div class="schoolindex">
         <h1>POSTGRAD</h1>
         <h3>The Alumni Connection</h3>
         <p>Have an extra ticket to the game? Looking for information on a local alumni chapter? Want to network with graduates from your major? POSTGrad is here to help you connect with alumni from your Alma Mater.</p>
               <select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
                 <option>Select A College/University</option>
                   <% @schools.each do |school| %>
                 <option value="<%= school_path(school) %>"><%= school.name %></option>
                   <% end %>
               </select>
         </div>
     </div>
   </div>
</div>


<div class="container">
  <div class="row placeholders">
    <h3>Featured Schools</h3>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <a href="/schools/134">
                <img class ='img-circle' src= "https://www.hastac.org/sites/default/files/upload/images/opportunity/ohio_state_buckeyes.jpg" width="200" height="200" class="img-responsive" alt="Ohio State">
            </a>
                <h4>The Ohio State University</h4>
            <span class="text-muted">Columbus, OH</span>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <a href="/schools/79">
              <img class ='img-circle' src= "https://s-media-cache-ak0.pinimg.com/736x/17/4e/3a/174e3a4c323410f37289777ef3318538.jpg" width="200" height="200" class="img-responsive" alt="George Washington University">
            </a>
            <h4>George Washington University</h4>
            <span class="text-muted">Washington, D.C.</span>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <a href="/schools/207">
              <img class = 'img-circle' src= "https://s-media-cache-ak0.pinimg.com/originals/ee/31/62/ee31627029d60a73df410207f0d220bf.jpg" width="200" height="200" class="img-responsive" alt="Maryland">
            </a>
            <h4>The University of Maryland</h4>
            <span class="text-muted">College Park, MD</span>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <a href="/schools/4">
              <img class ='img-circle' src="http://www.crwflags.com/fotw/images/u/us_au.gif" width="200" height="200" class="img-responsive" alt="American University">
            </a>
            <h4>American University</h4>
            <span class="text-muted">Washington, D.C.</span>
          </div>
        </div>
</div>

<hr class="featurette-divider">
<div class="container">


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Network <span class="text-muted">within your school...</span></h2>
          <p class="lead">You know your alma mater has the best grads... why else would you have gone there? Connect and network with other link minded alumni.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://assets.entrepreneur.com/content/3x2/1300/20160328065249-shutterstock-387029653.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Reminisce <span class="text-muted">about the past...</span></h2>
          <p class="lead">Remember and relive the glory days of college. Story tell about your favorite hangouts, a game you will never forget, or instructors who changed your life. Those years were some of your best. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://www.kiplinger.com/slideshow/taxes/T054-S001-overlooked-tax-breaks-for-new-college-grads/images/intro.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Connect <span class="text-muted">with the best Alumni...</span></h2>
          <p class="lead">Going to the big game and you have an extra ticket to sell? Heading back to campus and want to know the best new restaurant? Whatever you need to know about your school today, post it!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://assets.inarkansas.com/31388/campus-visit.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
<div class="container">
      <footer>
        <p class="pull-right"><a href="/">Back to top</a></p>
        <p>&copy; 2017 POSTGrad</p>
      </footer>
</div>
