/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */


 @import "bootstrap-sprockets";
 @import "bootstrap";


 nav{
   text-align: left;
 }

body {
  background-size: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

p{
  color: black;
}

.school {
  display: inline-block;
}

.school img{
  height: 200px;
  width: 200px;
}

.row h2{
  color: rgba(54, 69, 79, 0);
  font-family: Arial, sans-serif;
}
.well {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.navbar-fixed-top{
  background-color: rgba(54, 69, 79, 1);
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url('thompson4.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron h1,
.jumbotron .h1 {
  color: white;
  font-family: 'Graduate', cursive;
}

.jumbotron h3{
  color: white;
  text-decoration: underline;
}

.jumbotron img{
  height: 200px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: white;
}

.schoolindex {
  background-color: rgba(54, 69, 79, .5);
  padding: 10px;
  border-radius: 10px;
}
